<h1><%= @user.username %>'s Goals</h1>

<h2>Goals</h2>
<ul>
  <% @goals.each do |goal| %>
    <li><a href="<%= goal_url(goal) %>"><%= goal.title %></a></li>
  <% end %>
</ul>

<h2>Comments</h2>
<ul>
  <% @user.received_comments.each do |comment| %>
    <li><%= comment.author.username %>: <%= comment.body %>
    <% if comment.author == current_user %>
      <%= link_to "Update", edit_user_user_comment_url(@user, comment) %>
      <%= link_to "Delete", user_user_comment_url(@user, comment), method: :delete %>
    <% end %>
    </li>
  <% end %>
</ul>
<%= link_to "Post Comment", new_user_user_comment_url(@user) %>
<br>
<%= link_to "All Goals", goals_url %>
